{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} - Arbeitnehmer bearbeiten{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <form class="form" action="{% url "arbeitnehmer_bearbeiten" arbeitnehmer_id %}" method="post" enctype="multipart/form-data">
                {% crispy form %}
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <button id="id_button" class="btn btn-primary btn-block" type="submit" name="arbeitnehmer_bearbeiten" value="Arbeitnehmer bearbeiten"><i class="glyphicon glyphicon-edit"></i> Arbeitnehmer bearbeiten</button>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <button id="id_button" class="btn btn-danger btn-block" type="submit" name="arbeitnehmer_loeschen" value="Arbeitnehmer löschen" onclick="javascript:return confirm('Eintrag wirklich löschen?');"><i class="glyphicon glyphicon-trash"></i> Arbeitnehmer löschen</button>
                </div>
                <div class="col-lg-4 col-lg-offset-8 alert alert-danger">
                    <p>Wenn Einträge gelöscht werden, die in Stundenaufzeichnungen verwendet werden, dann werden diese Stundenaufzeichnungen auch gelöscht!</p>
                </div>
                <br/><br/>
            </form>
        </div>
    </div>
{% endblock %}
